.container {
  color: blue;
  text-decoration: underline;
  text-decoration: strong;
  text-align: center;
  font-size: 100px;
  background-color: aquamarine;
  width: 100%;
}

.nav {
  margin: 0px;
  background-color: gray;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  padding: 0px;
  overflow-x: hidden;
}

.navdiv {
  float: left;
}

.navdiv .color {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  height: 100%;
}
.navdiv .color:hover {
  color: black;
  background-color: lightpink;
  height: 100%;
}

.sectionborder {
  border-radius: 20px;
  border: 2px solid black;
  background-color: lightpink;
  color: black;
  width: 60%;
  margin: auto;
  margin-top: 10px;
}
.center {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.a {
  color: blue;
  text-decoration: none;
}
.a:hover {
  color: gray;
}
